<aside class="sidebar-menu fixed">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="sidebar-inner scrollable-sidebar" style="overflow: hidden; width: auto; height: 100%;">
        <div class="main-menu">
            <ul class="accordion">
                <li class="bg-palette1">
                    <a href="manager.php">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-dashboard fa-lg"></i></span>
                            <span class="text m-left-sm">控制台</span>
                        </span>
                        <span class="menu-content-hover block">首页</span>
                    </a>
                </li>
                <li class="openable bg-palette1 open" menu-id="107">
                            <a href="manager.php/Content/index/">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-file-text-o fa-lg"></i></span>
                                    <span class="text m-left-sm">内容管理</span>
                                    <span class="submenu-icon"></span>
                                </span>
                                <span class="menu-content-hover block">内容管理</span>
                            </a>
                            <ul class="submenu" style="overflow: hidden; display: block;">
                                <li><a href="javascript:;" onclick="openItem(108,'manager.php/Content/lipei/')" id="menu-108"><span class="submenu-label">理赔条款</span></a></li><li><a href="javascript:;" onclick="openItem(109,'manager.php/Content/fenlei/')" id="menu-109"><span class="submenu-label">分类说明</span></a></li><li><a href="javascript:;" onclick="openItem(110,'manager.php/Content/news/')" id="menu-110"><span class="submenu-label">新闻公告</span></a></li>                            </ul>
                        </li>
                    <li class="openable bg-palette1" menu-id="89">
                            <a href="manager.php/Sys/index/">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-cog fa-lg"></i></span>
                                    <span class="text m-left-sm">系统管理</span>
                                    <span class="submenu-icon"></span>
                                </span>
                                <span class="menu-content-hover block">系统管理</span>
                            </a>
                            <ul class="submenu" style="overflow: hidden;">
                                <li><a href="javascript:;" onclick="openItem(91,'manager.php/Sys/changePassword/')" id="menu-91"><span class="submenu-label">修改密码</span></a></li>                            </ul>
                        </li>
                                </ul>
        </div>
    </div><div class="slimScrollBar" style="background-color: rgb(0, 0, 0); width: 0px; position: absolute; top: -1px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 705.0014224751067px;"></div><div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
</aside>