<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>mt</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="{:C('INDEX_CSS_PATH')}/reset.css">
<link type="text/css" rel="stylesheet" href="{:C('INDEX_CSS_PATH')}/style.css">
<script type="text/javascript" src="{:C('INDEX_JS_PATH')}/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="header">
	<div class="hInner clearfix">
		<div class="logo"><a href="#"><img src="{:C('INDEX_IMAGE_PATH')}/logo.png" alt=""></a></div>
		<ul class="clearfix">
			<li><a href="__CONTROLLER__/index">首页</a></li>
			<li><a href="__CONTROLLER__/news">新闻公告</a></li>
			<li><a href="__CONTROLLER__/courier">物流查询</a></li>
			<li><a href="#">明通驿站</a></li>
			<li><a href="__CONTROLLER__/upload">身份证上传</a></li>
			<li><a href="__CONTROLLER__/claim_provision">理赔条款</a></li>
			<li><a href="__CONTROLLER__/shipping_instructions">发货说明</a></li>
			<li><a class="on" href="__CONTROLLER__/aboutus">关于我们</a></li>
		</ul>
	</div>
</div>
<div id="main">
	<div class="wrap">
		<h2>关于我们</h2>
		<p>明通国际速递是快盟科技旗下，为中大型跨境电商卖家提供解决方案的物流公司。目前在美国洛杉矶、波特兰有两个分拨中心，可为北美海外卖家和国内海淘用户提供转运、仓配、快递等业务。我们的员工来自三通一达、跨境电商等，具有非常丰富的行业背景。我们希望依靠我们IT技术、丰富的经验为北美的跨境电商、跨境物流提供完整的解决方案！目前洛杉矶仓库有一万尺，可为跨境电商卖家提供仓储、配货、快递等服务，依靠订单仓储管理系统，每天可处理几千订单，大大减少了从接单开始到发货的时间，目前24时出仓率达40%。，让电商卖家全心专注于销售，同时提高了客户满意度。</p>
		<div class="img"><img src="{:C('INDEX_IMAGE_PATH')}/aboutus_img.jpg" alt=""></div>
	</div>
</div>
<include file="Index/footer_common"/>
</body>
</html>
