* {
	margin: 0;
	padding: 0;
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
	color: #444;
}
body {
	font-size: 12px;
	font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,'微软雅黑',Arial,sans-serif;
	background: #fff;
}
input,textarea {
	font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,'微软雅黑',Arial,sans-serif;
}
.header {
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	box-sizing: border-box;
	border-bottom: 1px solid #4462B5;
	background: #234AA9;
}
.header .hInner {
	margin: 0 auto;
	width: 1100px;
	padding: 13px 0 0;
}
.header .logo {
	margin-left: 3px;
	float: left;
}
.header ul {
	margin-top: 18px;
	float: right;
}
.header li {
	margin-left: 24px;
	float: left;
}
.header li a {
	display: block;
	color: #b7c9ff;
	font-size: 15px;
}
.header li a:hover,
.header li a.on {
	color: #fff;
}
.footer {
	padding: 32px 0 33px;
	overflow: hidden;
	background: #2753BD;
}
.footer .fInner {
	margin: 0 auto;
	width: 1076px;
}
.footer .fInner .lBox {
	margin-top: 3px;
	float: left;
}
.footer .fInner .lBox ul {
	margin-bottom: 24px;
}
.footer .fInner .lBox li {
	margin-right: 8px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
}
.footer .fInner .lBox li a {
	margin-right: 14px;
	color: #fff;
}
.footer .fInner .lBox p {
	color: #fff;
	font-size: 16px;
}
.footer .fInner .listUl {
	float: right;
}
.footer .fInner .listUl li {
	margin: 0 8px 0 52px;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.footer .fInner .listUl li img {
	margin: 0 auto 11px;
	display: block;
}
#main {
	background: #f6f6f6;
}
#main .wrap {
	margin: 0 auto;
	width: 1100px;
}
/*------index-----------------------*/
#index #main {
	padding-top: 80px;
	background: none;
}
#index #main .bannerBox {
	height: 499px;
	overflow: hidden;
}
#index #main .banner {
	height: 499px;
	background: url(../images/banner01.jpg) no-repeat center top;
	background-size: cover;
}
#index #main .banner02 {
	background-image: url(../images/banner02.jpg);
}
#index #main .banner03 {
	background-image: url(../images/banner03.jpg);
}
#index #main .banner04 {
	background-image: url(../images/banner04.jpg);
}
#index #main .bannerBox .slick-dots {
	text-align: center;
	margin: -25px 0 0 0;
	position: relative;
	z-index: 999;
}
#index #main .bannerBox .slick-dots li {
	display: inline;
	margin: 0 5px;
}
#index #main .bannerBox .slick-dots li button {
	border: none;
	background-color: #234aa9;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	border-radius:50%;
	cursor: pointer;
}
#index #main .bannerBox .slick-dots li.slick-active button {
	background-color: #fff;
}

#index #main .searchBox {
	padding: 20px 0;
	border-top: 1px solid #F5F7FC;
	box-shadow: 0 0 27px rgba(122,122,122,0.17);
}
#index #main .searchBox .search {
	margin: 0 auto;
	padding: 17px 0 15px 110px;
	width: 856px;
	height: 71px;
	box-sizing: border-box;
	position: relative;
	background: url(../images/search_bg.png) no-repeat;
}
#index #main .searchBox p {
	margin-right: 11px;
	float: left;
	color: #2652bd;
	font-size: 28px;
	font-weight: bold;
	line-height: 36px;
}
#index #main .searchBox p img {
	margin: -4px 8px 0 0;
	display: inline-block;
	vertical-align: middle;
}
#index #main .searchBox input {
	margin: 0 10px 0 0;
	padding: 0 12px;
	width: 359px;
	height: 38px;
	float: left;
	color: #333;
	font-size: 15px;
	line-height: 36px;
	box-sizing: border-box;
	border: 1px solid #BBB;
	background: #fff;
	border-radius: 0;
}
#index #main .searchBox a {
	display: block;
	width: 103px;
	float: left;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	background: #2753BD;
}
#index #main h2 {
	font-weight:normal;
	margin-bottom: 44px;
	color: #b2b2b2;
	font-size: 14px;
	text-align: center;
}
#index #main h2 span {
	margin-bottom: 13px;
	display: block;
	color: #333;
	font-size: 28px;
	font-weight: normal;
}
#index #main .section01 {
	padding: 56px 0 53px;
}
#index #main .section01 ul {
	margin: 0 -10px 0 -26px;
}
#index #main .section01 li {
	width: 283px;
	float: left;
	color: #999;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}
#index #main .section01 li img {
	margin: 0 auto 13px;
	display: block;
}
#index #main .section01 li span {
	margin-bottom: 6px;
	display: block;
	color: #595959;
	font-size: 22px;
}
#index #main .section02 {
	padding: 45px 0 31px;
	background: #F6F6F6;
}
#index #main .section02 .wrap {
	width: 1034px;
}
#index #main .section02 li {
	margin-bottom: 13px;
	padding-bottom: 12px;
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px dashed #C5C5C5;
}
#index #main .section02 li a {
	display: block;
	color: #000;
	font-size: 18px;
	float: left;
}
#index #main .section02 li a:hover {
	color:#2753bd;
}
#index #main .section02 li span {
	display: block;
	float: right;
	color: #999;
	font-size: 18px;
}
#index #main .section03 {
	padding: 48px 0 48px;
}
#index #main .section03 ul {
	margin: 45px 0 0 5px;
}
#index #main .section03 li {
	margin: 0 3px 4px 0;
	float: left;
}
/*------news-----------------------*/
#news .section {
	padding: 40px 40px 50px;
	background: #fff;
}
#news .topBanner {
	background: -webkit-gradient(linear, right top, left top, from(#3b44c5), to(#424cdb));
	background: linear-gradient(270deg, #3b44c5, #424cdb);
}
#news .topBanner img {
	margin: 0 auto;
	display: block;
}
#news #main {
	padding: 30px 0;
	background: #f6f6f6;
}
#news #main .topTxt {
	margin-bottom: 30px;
}
#news #main .newsList {
	margin-bottom: 30px;
}
#news #main .newsList li {
	margin-bottom: 13px;
	padding-bottom: 12px;
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px dashed #C5C5C5;
}
#news #main .newsList li a {
	display: block;
	color: #000;
	font-size: 18px;
	float: left;
}
#news #main .newsList li a:hover {
	color:#409eff;
}
#news #main .newsList li span {
	display: block;
	float: right;
	color: #999;
	font-size: 18px;
}
#news #main .pageNavi {
	padding: 2px 5px;
}
#news #main .pageNavi .prev {
	margin: 0 5px;
	float: left;
}
#news #main .pageNavi .prev a {
	padding-top: 6px;
	display: block;
	width: 30px;
	height: 28px;
	box-sizing: border-box;
}
#news #main .pageNavi .prev a img {
	margin: 0 auto;
	display: block;
}
#news #main .pageNavi .next {
	margin: 0 5px;
	float: left;
}
#news #main .pageNavi .next a {
	padding-top: 6px;
	display: block;
	width: 30px;
	height: 28px;
	box-sizing: border-box;
}
#news #main .pageNavi .next a img {
	margin: 0 auto;
	display: block;
}
#news #main .pageNavi .prev.disable a {
	cursor:not-allowed;
	background: url(../images/prev_on.png) no-repeat center 6px;
}
#news #main .pageNavi .next.disable a {
	cursor:not-allowed;
	background: url(../images/next_on.png) no-repeat center 6px;
}
#news #main .pageNavi .prev.disable img,
#news #main .pageNavi .next.disable img {
	visibility: hidden;
}
#news #main .pageNavi .page {
	float: left;
}
#news #main .pageNavi .page a,
#news #main .pageNavi .page span {
	margin: 0 5px;
	display: block;
	float: left;
	width: 30px;
	height: 28px;
	display: block;
	color: #606266;
	font-size: 13px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
}
#news #main .pageNavi .page a:hover,
#news #main .pageNavi .page span {
	background: #409eff;
	color: #fff;
}
#news #main .pageNavi .num {
	margin-right: 10px;
	float: left;
	color: #606266;
	font-size: 13px;
	line-height: 28px;
}
#news #main .pageNavi .naviBox {
	margin: 0 38px 0 5px;
	position: relative;
	float: left;
}
#news #main .pageNavi .navi {
	padding: 0 25px 0 8px;
	width: 100px;
	position: relative;
	cursor: pointer;
	color: #606266;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	border: 1px solid #dcdfe6;
	border-radius: 3px;
	box-sizing: border-box;
	background: #fff;
	transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
#news #main .pageNavi .navi:hover {
	border-color: #409eff;
}
#news #main .pageNavi .navi:before {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 4px;
	top: 4px;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100% auto;
	content: "";
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#news #main .pageNavi .navi.on:before {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}
#news #main .pageNavi .naviBox .subBox {
	width: 108px;
	position: absolute;
	left: 0;
	top: 40px;
	visibility: hidden;
	opacity: 0;
	border: 1px solid #e4e7ed;
	border-radius: 4px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
	background: #fff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#news #main .pageNavi .naviBox .subBox.show {
	visibility: visible;
	opacity: 1;
}
#news #main .pageNavi .naviBox .subBox ul {
	padding: 6px 0;
}
#news #main .pageNavi .naviBox .subBox li {
	box-sizing: border-box;
    color: #606266;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#news #main .pageNavi .naviBox .subBox li.on {
	color: #409eff;
	font-weight: bold;
}
#news #main .pageNavi .naviBox .subBox li.hover {
	background: #f5f7fa;
}
#news #main .pageNavi .naviBox .subBox .arrow,
#news #main .pageNavi .naviBox .subBox .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#news #main .pageNavi .naviBox .subBox .arrow {
    border-width: 6px;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.03));
}
#news #main .pageNavi .naviBox .subBox .arrow {
    border-bottom-color: #ebeef5;
    border-top-width: 0;
    left: 35px;
    margin-right: 3px;
    top: -6px;
}
#news #main .pageNavi .naviBox .subBox .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#news #main .pageNavi .naviBox .subBox .arrow:after {
    border-width: 6px;
    content: " ";
}
#news #main .pageNavi .naviBox .subBox .arrow:after {
    border-bottom-color: #fff;
    border-top-width: 0;
    margin-left: -6px;
    top: 1px;
}
#news #main .pageNavi .go {
	float: left;
	color: #606266;
	font-size: 13px;
	line-height: 28px;
}
#news #main .pageNavi .go input {
	margin: 0 4px;
	background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #606266;
	font-size: 13px;
    display: inline-block;
    font-size: inherit;
    height: 28px;
    line-height: 26px;
	text-align: center;
    outline: 0 none;
    padding: 0 15px;
    transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
    width: 46px;
}
#news #main .detailBox {
	position: relative;
}
#news #main .detailBox .back {
	font-size: 14px;
	position: absolute;
	top: 38px;
	right: 2px;
}
#news #main .detailBox .back a {
	color:#929292;
}
#news #main .detailBox .back a:hover {
	color:#2753bd;
}
#news #main .detailBox .title {
	font-size: 30px;
	font-weight: bold;
	color:#454545;
}
#news #main .detailBox .date {
	color:#929292;
	font-size: 14px;
	line-height: 30px;
    border-bottom: solid 1px #e1e1e1;
}
#news #main .detailBox .text {
	margin-top: 20px;
	color:#454545;
	font-size: 16px;
	line-height: 28px;
	text-indent: 30px;
}


/*------aboutus-----------------------*/
#aboutus #main {
	padding: 130px 0 50px;
}
#aboutus #main .wrap {
	padding: 50px;
	min-height: 800px;
	box-sizing: border-box;
	background: #fff;
}
#aboutus #main h2 {
	color: #333;
    font-size: 24px;
    font-weight: 700;
    padding: 30px;
    text-align: center;
}
#aboutus #main p {
	margin-bottom: 30px;
	color: #333;
    font-size: 16px;
    line-height: 30px;
}

/*------shipping_instructions-----------------------*/
#shipping #main {
	padding: 110px 0 30px;
}
#main .topTxt {
	margin-bottom: 10px;
	color: #9a9a9a;
    font-size: 14px;
}
#shipping #main .section {
	padding: 10px 40px 50px;
	background: #fff;
}
#main .section .comTtl {
	color: #4a4a4a;
    font-size: 18px;
    padding: 30px 0 10px;
}
#main .section .comTtl span {
	color: #5b62c9;
}
#shipping #main .section table {
	width: 100%;
	color: #666;
    font-size: 14px;
    line-height: 20px;
	border-collapse: collapse;
    border-spacing: 0;
}
#shipping #main .section th {
	width: 100px;
	background: #f5f5f5;
    border: 1px solid #eee;
    height: 40px;
	font-weight: normal;
    line-height: 40px;
}
#shipping #main .section th:nth-child(3) {
	width: auto;
}
#shipping #main .section td {
	font-size: 14px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
	border: 1px solid #eee;
}
#shipping #main .section td:nth-child(3) {
	text-align: left;
}

/*------claim_provision-----------------------*/
#claim #main {
	padding: 110px 0 30px;
}
#claim #main .section {
	padding: 10px 40px 50px;
	background: #fff;
}
#claim #main .section .text {
	color: #666;
    font-size: 14px;
    line-height: 20px;
}
#claim #main .section table {
	width: 100%;
	color: #666;
    font-size: 14px;
    line-height: 20px;
	border-collapse: collapse;
    border-spacing: 0;
}
#claim #main .section th {
	width: 140px;
	background: #f5f5f5;
    border: 1px solid #eee;
    height: 40px;
	font-weight: normal;
    line-height: 40px;
}
#claim #main .section th:nth-child(2) {
	width: 600px;
}
#claim #main .section th:nth-child(3) {
	width: 300px;
}
#claim #main .section td {
	font-size: 14px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
	border: 1px solid #eee;
}
#claim #main .section td:first-child {
	text-align: center;
}

/*------upload_id-----------------------*/
#upload #main {
	padding: 110px 0 30px;
}
#upload #main .section {
	padding: 30px 30px 50px;
	background: #fff;
}
#upload #main .section .comTtl {
    padding: 15px 0;
}
#upload #main .txtBox {
	padding: 20px 25px;
	border: 1px solid #eee;
	background: #f5f5f5;
}
#upload #main .txtBox li {
	padding-left: 15px;
	text-indent: -15px;
	color: #767676;
    font-size: 14px;
    line-height: 18px;
}
#upload #main .step {
	border-left: 1px solid #e2e2e2;
    height: 80px;
    overflow: hidden;
    position: relative;
}
#upload #main .step li {
	display: flex;
    height: 80px;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 999;
}
#upload #main .step li:nth-child(2) {
	left: 320px;
	z-index: 888;
}
#upload #main .step li:nth-child(3) {
	left: 640px;
	z-index: 777;
}
#upload #main .step li .txt {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    background: #f5f5f5 none repeat scroll 0 0;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    box-sizing: border-box;
    color: #575757;
    display: flex;
    float: left;
    font-size: 14px;
    height: 80px;
    justify-content: center;
    padding: 0 5px 0 60px;
    width: 330px;
}
#upload #main .step li .txt img {
	margin-right: 6px;
	width: auto;
	height: 40px;
}
#upload #main .step li .arrow {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #e2e2e2;
    border-image: none;
    border-style: solid;
    border-width: 40px;
    box-sizing: border-box;
    height: 1px;
    position: relative;
    width: 1px;
}
#upload #main .step li .arrow2 {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #f5f5f5;
    border-image: none;
    border-style: solid;
    border-width: 40px;
    box-sizing: border-box;
    height: 1px;
    left: -41px;
    position: absolute;
    top: -40px;
    width: 1px;
    z-index: 999;
}
#upload #main .inner {
	margin: 30px auto;
	width: 700px;
	position: relative;
}
#upload #main .inner .tabNavi {
	float: left;
	border: 1px solid #e4e7ed;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}
#upload #main .inner .tabNavi li {
	float: left;
}
#upload #main .inner .tabNavi li:first-child {
	border-right: 1px solid #e4e7ed;
}
#upload #main .inner .tabNavi li a {
	padding: 1px 20px 0;
	display: block;
	float: left;
	color: #303133;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
#upload #main .inner .tabNavi li a:hover,
#upload #main .inner .tabNavi li.on a {
	color: #409eff;
}
#upload #main .inner dl {
	padding-top: 15px;
	position: relative;
	clear: both;
	border-top: 1px solid  #e4e7ed;
}
#upload #main .inner dt {
	padding-right: 12px;
	width: 150px;
	float: left;
	clear: both;
	color: #606266;
	font-size: 14px;
	line-height: 40px;
	text-align: right;
	box-sizing: border-box;
}
#upload #main .inner dt span {
	margin-right: 4px;
	color: #f56c6c;
}
#upload #main .inner dd {
	margin: 0 0 22px 150px;
	position: relative;
}
#upload #main .inner dd input {
	background-color: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    padding: 0 15px;
    transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
    width: 100%;
}
#upload #main .inner dd input:disabled {
	background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
}
#upload #main .inner dd input.error {
	border-color: #f56c6c;
}
#upload #main .inner .errorTxt {
	color: #f56c6c;
	display: none;
    font-size: 12px;
    left: 0;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
}
#upload #main .inner dd ul {
	margin: 83px 0 0 0;
}
#upload #main .inner dd li {
	margin-right: 25px;
	padding-top: 41px;
	width: 250px;
	height: 200px;
	float: left;
	position: relative;
	color: #ccc;
	font-size: 14px;
	text-align: center;
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	box-sizing: border-box;
}
#upload #main .inner dd li:hover {
	border-color: #409eff;
}
#upload #main .inner dd li img {
	margin: 0 auto 13px;
	width: 118px;
	display: block;
}
#upload #main .inner dd li .cover {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	border-radius: 6px;
	background: rgba(0,0,0,0.3);
}
#upload #main .inner dd li:hover .cover {
	display: block;
}
#upload #main .inner dd li .cover span {
	width: 80px;
	height: 80px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(91, 96, 182, 0.8);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
#upload #main .inner dd li .cover span img {
	margin: 24px auto 0;
	width: 32px;
}
#upload #main .inner dd li input {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 10;
}
#upload #main .inner .note {
	margin: 0 0 22px 150px;
	font-size: 14px;
    line-height: 40px;
    position: relative;
}
#upload #main .inner .submit {
	margin-left: 150px;
}
#upload #main .inner .submit button {
	background-color: #409eff;
    border: 1px solid #409eff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    outline: 0 none;
    padding: 12px 20px;
    text-align: center;
    transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
    white-space: nowrap;
}
#upload #main .inner .submit button:hover {
	background: #66b1ff;
	border-color: #66b1ff;
}

/*------courier-----------------------*/
#courier #main {
	padding: 130px 0 30px;
	min-height: 720px;
}
#courier #main .wrap {
	width: 1000px;
}
#courier #main .topTxt {
	margin-bottom: 20px;
}
#courier #main .section {
	padding: 30px 30px 20px;
	background: #fff;
}
#courier #main .section textarea {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	color: #000;
    font-size: 14px;
    outline: medium none;
    padding: 10px;
}
#courier #main .section .btn {
	margin-top: 12px;
}
#courier #main .section .btn input {
	margin: 0;
	border: none;
	background: #646be0;
    border-radius: 5px;
    color: #fff;
	font-size: 16px;
	line-height: 40px;
    height: 40px;
    outline: medium none;
    padding: 0 100px;
}
#courier #main .section .item {
	background: #fff;
    border-color: #ddd #ddd #ddd #646be0;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    box-sizing: border-box;
    margin: 20px 0;
	padding: 0 30px;
}
#courier #main .section .item .ttl {
	font-size: 16px;
    height: 50px;
    line-height: 50px;
}
#courier #main .section .item ul {
	position: relative;
}
#courier #main .section .item ul:before {
	width: 1px;
	height: 100%;
	position: absolute;
	left: 130px;
	top: 0;
	background: #e2e2e2;
	content: "";
}
#courier #main .section .item li {
	padding: 0 0 40px;
	overflow: hidden;
	position: relative;
	zoom: 1;
	color: #303133;
	font-size: 14px;
}
#courier #main .section .item li:before {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 120px;
	top: 0;
	border-radius: 50%;
	background: #fff url(../images/icon01.png) no-repeat;
	background-size: 100% auto;
	content: "";
}
#courier #main .section .item li:first-child:before {
	background: url(../images/icon02.png) no-repeat;
	background-size: 100% auto;
}
#courier #main .section .item li p {
	float: left;
	line-height: 1.5;
}
#courier #main .section .item li dl {
	padding-left: 200px;
	line-height: 1.5;
}
#courier #main .section .item li dt {
	float: left;
}
#courier #main .section .item li dd {
	padding: 0 0 10px 80px;
}
.noteBox {
	background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    padding: 14px 26px 18px 14px;
    position: fixed;
	z-index: 1000;
    width: 330px;
	top: 16px;
	right: 16px;
}
.noteBox .error {
	margin: 1px 15px 0 0;
	width: 21px;
	height: auto;
	display: block;
	float: left;
}
.noteBox .txt {
	display: block;
	float: left;
	color: #606266;
	font-size: 14px;
}
.noteBox .txt span {
	margin-bottom: 9px;
	display: block;
	color: #303133;
    font-size: 16px;
    font-weight: 700;
}
.noteBox .close {
	position: absolute;
	cursor: pointer;
	right: 15px;
	top: 18px;
}